<div class="push"></div>
  <footer>
    <aside class="wrap">
      <ol class="prev-posts">
        <p class="list-title">Recent Posts</p>
        {% for post in site.posts | limit:3 %} <!-- for1 -->
            <li>
              <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }} </a></span>
              <span class="date">{{post.date | date: "%b %d, %Y" }}</span>
            </li>
        {% endfor %}
      </ol>

      <div class="social">
        <ul>
            <li><a id="mail" href="mailto:{{ site.email }}"><span class="foot-link">അണിയറ പ്രവര്‍ത്തകര്‍</span></a></li>
            <li><a id="mail" href="https://gitlab.com/swathanthram/swathanthram.gitlab.io"><span class="foot-link">പുതിയ ലേഖനം/തിരുത്തു്</span></a></li>

            {% if site.owner.twitter %}
            <li><a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><span class="foot-link">@{{ site.owner.twitter }}</span></a></li>
            {% endif %}


            {% if site.owner.dribbble %}
            <li><a id="drib" href="http://dribbble.com/{{ site.owner.dribbble }}" target="_blank"><span class="foot-link">Dribbble</span></a></li>
            {% endif %}
        </ul>
    </div>
    </aside>
    <small>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Powered by <a href="http://jekyllrb.com">Jekyll</a> using the <a href="http://jekyll.gtat.me/about">Balzac</a> theme.</small>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>


  </body>
</html>
