<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<title>
{% if page.name_ml %}
{{ page.name_ml }} &#8211;
{% elsif page.title_ml %}
{{ page.title_ml }} &#8211;
{% elsif page.title %}
{{ page.title }} &#8211;
{% endif %}
 {{ site.title }}
</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

{% include graphs.html %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/assets/css/entypo.css" media="all">

<!-- In order to use Calendas Plus, you must first purchase it. Then, create a font-face package using FontSquirrel.
<link rel='stylesheet' href='{{ site.url }}/assets/cal.css' media='all' />
-->



<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">

<!-- Fresh Squeezed jQuery -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>
<script src="{{ site.url }}/assets/js/Hyphenator.js" type-"text/javascript"></script>
        <script type="text/javascript">
                 Hyphenator.run();
        </script>


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

<div id="bump">
  <body class="">
    <header class="site-header darken">
      <div class="wrap">
        <hgroup>
        <div style="display: table">
          <div style="display: table-row">
            <div style="display: table-cell">
              <img src="{{ site.url }}/favicon.ico" alt="Swathanthram.in Logo" style="width: 56px" />
            </div>
            <div style="display: table-cell; vertical-align:top">
                <h1><a href="/">{{ site.title }}</a></h1>{{ site.subtitle }}
            </div>
          </div>
        </div>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
          <ul>
            <li>
              <a href="/" title="{{ site.title }}">പൂമുഖം</a>
            </li>
            
            {% for category in site.categories %}
            <li class="uroob"><a href="{{ category.url }}" >{{ category.title_ml }}</a></li>
            {% endfor %}

          </ul>
        </nav>
      </div>
    </header>
