<div id='bump'>
    <section class="article archive">
        <article class="archive-wrap">
            <ol class="post-list">
                <lh><h2><span class="bb">{{ title }}</span></h2></lh>
                {% for post in posts %}
                <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                        {% assign date=post.date %}
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">  {% include currentdate.html %} </time></p>
                        <p class="index">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </article>
    </section>
</div>
