---
---
@charset "UTF-8";

/* ==========================================================================
   Imports
   ========================================================================== */

@import "normalize";
@import "mixins";
@import "variables";
@import "grid";
@import "type";
@import "styles";

// Remove the definition below for a pixel-based layout
$total-width: 100%;
@font-face {
	font-family: 'Manjari';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/Manjari-Regular.woff?v=1.0) format('woff'), url(/assets/fonts/Manjari-Regular.ttf?v=1.0) format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}

@font-face {
	font-family: 'Keraleeyam';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/Keraleeyam.woff?v=1.0) format('woff');
}

p, li, a, h1, h2, h3, h4, h5, h6 {
    font-family: "Manjari";
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: 0.75em;
}
