{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
                  {% assign authors = site.authors %}
                  {% for author in authors %}
                  <li><a href="{{ author.url }}" title="Author page of {{ author.name_ml }}">{{ author.name_ml }}</a></li>
                  {% endfor %}
              </ol>
          </article>
        </section>
    </div>

{% include footer.html %}
